<a class="btn skip-link" href="#main-content">Skip to content</a>
<div class="site-head" role="banner">
    <div class="wrapper">
        <div class="site-head__inner">
            <a class="site-head__brand" href="/" aria-label="{{ site.name }} - Home" aria-hidden="true" focusable="false">
                Sam Pilgrim
            </a>
            <nav class="site-head__nav" aria-label="Primary">
                <ul class="nav__list">
                    {% for item in navigation.items %}
                      <li>
                        <a class="nav__link" href= "{{ item.url }}" 
                            {% if page.url %}
                                {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                            {% endif %} 
                            >
                          {{ item.text }}
                        </a>
                      </li>
                      {% endfor %}
                  </ul>
            </nav> 
        </div>
    </div>
</div>
